/* //reseting  formatting */
*, *::bfore, *,::after{
    box-sizing: border-box;
}
*{
    margin:  0;
    padding: 0;
}

/* addign our own formatting  */

body{
    padding: 4rem;
    background: #18181b;
    color: #f4f4f5;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
}

h1, h2, h3, h4{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 0.25em;
}
h1{
    font-size: calc(2.2rem + 4vw);
}
p{
    font-size: 1.2rem;
}
footer{
    position: fixed;
    bottom: 2rem;
    color: #d4d4d8;
}